---
import { LinkPreview } from "./LinkPreview";

const { author, points, title, url, updated_at, num_comments } = Astro.props;
---

<li class="mb-4">
  <div class="flex flex-col gap-2">
    <a class="hover:underline" href={url} target="_blank">
      {title}
    </a>
    <br class="sm:hidden" />
    <p class="text-gray-500 text-sm">
      {points} points by {author} 2 hours ago | {num_comments} comments
    </p>
    <LinkPreview client:visible url={url} />
  </div>
</li>
